#loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-overlay-hidden {
  display: none !important;
}


#loading-bar {

  width: 15em;
  height: 1em;
  border-radius: 0.25em;
  background-color: black;

  border: 1px solid grey;

  display: inline-flex;

}

#progress {
  background-color: #00ffbb;
  height: inherit;
  border-radius: inherit;

  width: 5%;
}